In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Import dependencies
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
from sqlalchemy import create_engine
import psycopg2 
import psycopg2.extras
import io

In [3]:
# Create a dataframe
df = pd.read_csv('https://raw.githubusercontent.com/JeffSackmann/tennis_wta/master/wta_matches_2021.csv')
df.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2021-2028,Abu Dhabi,Hard,64,P,20210106,300,214544,NaN,NaN,...,31.0,18.0,5.0,8.0,5.0,9.0,10.0,4220.0,22.0,2405.0
1,2021-2028,Abu Dhabi,Hard,64,P,20210106,299,206368,NaN,NaN,...,46.0,28.0,7.0,11.0,4.0,9.0,46.0,1453.0,99.0,767.0
2,2021-2028,Abu Dhabi,Hard,64,P,20210106,298,206289,NaN,NaN,...,52.0,26.0,8.0,11.0,7.0,13.0,22.0,2405.0,4.0,5760.0
3,2021-2028,Abu Dhabi,Hard,64,P,20210106,297,214544,NaN,NaN,...,44.0,30.0,21.0,14.0,4.0,7.0,10.0,4220.0,19.0,2696.0
4,2021-2028,Abu Dhabi,Hard,64,P,20210106,296,216146,NaN,NaN,...,56.0,25.0,6.0,11.0,2.0,9.0,99.0,767.0,66.0,1040.0

In [4]:
from config import db_password

In [12]:
# Create the database engine
engine = create_engine('postgresql://postgres:Danza1987!@localhost:5432/WTA')
df.to_sql('matches', con=engine, if_exists='append',index=False)

# Example python program to read data from a PostgreSQL table and load into a pandas DataFrame

In [6]:
# Connect to PostgreSQL server
dbConnection = engine.connect()

In [7]:
# Read data from PostgreSQL database table and load into a DataFrame instance
dataFrame = pd.read_sql("select * from \"matches\"", dbConnection)

In [10]:
# Print the DataFrame
dataFrame.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2021-2028,Abu Dhabi,Hard,64,P,20210106,300,214544,NaN,None,...,31.0,18.0,5.0,8.0,5.0,9.0,10.0,4220.0,22.0,2405.0
1,2021-2028,Abu Dhabi,Hard,64,P,20210106,299,206368,NaN,None,...,46.0,28.0,7.0,11.0,4.0,9.0,46.0,1453.0,99.0,767.0
2,2021-2028,Abu Dhabi,Hard,64,P,20210106,298,206289,NaN,None,...,52.0,26.0,8.0,11.0,7.0,13.0,22.0,2405.0,4.0,5760.0
3,2021-2028,Abu Dhabi,Hard,64,P,20210106,297,214544,NaN,None,...,44.0,30.0,21.0,14.0,4.0,7.0,10.0,4220.0,19.0,2696.0
4,2021-2028,Abu Dhabi,Hard,64,P,20210106,296,216146,NaN,None,...,56.0,25.0,6.0,11.0,2.0,9.0,99.0,767.0,66.0,1040.0

In [9]:
# Close the database connection
dbConnection.close();