In [1]:
import warnings
warnings.filterwarnings('ignore')

In [5]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
from sqlalchemy import create_engine
import psycopg2 
import psycopg2.extras
import io

In [7]:
df = pd.read_csv('https://raw.githubusercontent.com/JeffSackmann/tennis_wta/master/wta_matches_2021.csv')
df.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2021-2028,Abu Dhabi,Hard,64,P,20210106,300,214544,NaN,NaN,...,31.0,18.0,5.0,8.0,5.0,9.0,10.0,4220.0,22.0,2405.0
1,2021-2028,Abu Dhabi,Hard,64,P,20210106,299,206368,NaN,NaN,...,46.0,28.0,7.0,11.0,4.0,9.0,46.0,1453.0,99.0,767.0
2,2021-2028,Abu Dhabi,Hard,64,P,20210106,298,206289,NaN,NaN,...,52.0,26.0,8.0,11.0,7.0,13.0,22.0,2405.0,4.0,5760.0
3,2021-2028,Abu Dhabi,Hard,64,P,20210106,297,214544,NaN,NaN,...,44.0,30.0,21.0,14.0,4.0,7.0,10.0,4220.0,19.0,2696.0
4,2021-2028,Abu Dhabi,Hard,64,P,20210106,296,216146,NaN,NaN,...,56.0,25.0,6.0,11.0,2.0,9.0,99.0,767.0,66.0,1040.0

In [ ]:
from config import db_password

In [8]:
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/WTA"
df.to_sql('matches', con=engine, if_exists='append',index=False)

tourney_id             object
tourney_name           object
surface                object
draw_size               int64
tourney_level          object
tourney_date            int64
match_num               int64
winner_id               int64
winner_seed           float64
winner_entry           object
winner_name            object
winner_hand            object
winner_ht             float64
winner_ioc             object
winner_age            float64
loser_id                int64
loser_seed            float64
loser_entry            object
loser_name             object
loser_hand             object
loser_ht              float64
loser_ioc              object
loser_age             float64
score                  object
best_of                 int64
round                  object
minutes               float64
w_ace                 float64
w_df                  float64
w_svpt                float64
w_1stIn               float64
w_1stWon              float64
w_2ndWon              float64
w_SvGms               float64
w_bpSaved             float64
w_bpFaced             float64
l_ace                 float64
l_df                  float64
l_svpt                float64
l_1stIn               float64
l_1stWon              float64
l_2ndWon              float64
l_SvGms               float64
l_bpSaved             float64
l_bpFaced             float64
winner_rank           float64
winner_rank_points    float64
loser_rank            float64
loser_rank_points     float64
dtype: object

In [ ]:
engine = create_engine(db_string)

In [ ]:
df.to_sql('matches', con=engine, if_exists='append',index=False)

In [ ]:
# Example python program to read data from a PostgreSQL table and load into a pandas DataFrame

 

# Create an engine instance

# alchemyEngine   = create_engine('postgresql+psycopg2://test:@127.0.0.1', pool_recycle=3600);

 

# Connect to PostgreSQL server

# dbConnection    = alchemyEngine.connect();

 

# Read data from PostgreSQL database table and load into a DataFrame instance

# dataFrame       = pd.read_sql("select * from \"StudentScores\"", dbConnection);

 

# pds.set_option('display.expand_frame_repr', False);

 

# Print the DataFrame

# print(dataFrame);

 

# Close the database connection

# dbConnection.close();